<!DOCTYPE html>
<html>
  <head>
    <title>Sam IRC - Home</title>
    <link type="text/css" rel="stylesheet" href="/irc.css" />
  </head>
  <body>
    <% if (!user) { %>
    	<p>An error occured, please <a href="/index.html">log in</a> again</p>
    <% } else { %>
      <div id="wrapper_logout">
        <center>Hi <%= user.username %>, click on the link to <a href="/logout">log out</a></center>
      </div>
      <div id="wrapper_messages">
        <ul id="messages"></ul>
      </div>
      <div id="wrapper_user_input">
        <form action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/jquery/jquery.js" onload="window.$ = window.jQuery = module.exports;"></script>
      <script> const userid = <%= user.id %>; </script>
      <script src="/irc.js"></script>
    <% } %>
  </body>
</html>
